<form class="p-1 mt-5 px-3" id={{_subId}}>
  <div class="form-row">
    <div class="form-group col-11 clearfix">
     <div class="btn-group float-right">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          选择编辑器
        </button>
        <div class="dropdown-menu">
          {{link-to "markdown" (query-params post_type="1") class="dropdown-item"}}
          <div class="dropdown-divider"></div>
          {{link-to "kindEditor" (query-params post_type="2") class="dropdown-item"}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <label for="{{_uid}}_title" class="h4">标题 :</label>
      {{input type="text" value=model.title class="form-control" id="{{_uid}}_title" placeholder="Title"}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12 h550">
      {{#if post_type}}
        {{#liquid-if (eq post_type 1) class="change-editor"}}
          {{markdown-editor editor=editor content=model.content imageUploadURL=editormdUpload}}
        {{else}}
          {{kind-editor editor=editor content=model.content uploadJson=kindEditorUpload}}
        {{/liquid-if}}
      {{else}}
        {{#liquid-if (eq model.postType 'html')}}
          {{kind-editor editor=editor content=model.content uploadJson=kindEditorUpload}}
        {{else}}
        {{!-- default --}}
          {{markdown-editor editor=editor content=model.content imageUploadURL=editormdUpload}}
        {{/liquid-if}}
      {{/if}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-12">
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{or model.cateName '暂时没有选择分类'}}
        </button>
        <div class="dropdown-menu">
          {{category-tree itemClicked=(action "pickCategory")}}
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary float-right" {{action "submit"}}>提 交</button>
</form>
