<div id="app-main">
    {{common-sidebar isShow=withSidebar}}

    <div local-class="appBody {{if withSidebar 'withSidebar'}}">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    {{liquid-outlet}}
                </div>
                <div class="col col-2">
                </div>
            </div>
        </div>
    </div>

    <div local-class="mask {{if withSidebar 'withSidebar'}}" {{action "toggleSidebar" false}}></div>
</div>